 <!-- About Section -->
    <section class="successwhite" id="develop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Phase 3: Develop</h2>
                </div>
            </div>
            <div class="row">
              <div class="row">
                  <p>Project:</p>
              </div>
              <div class="col-lg-12">
                <div class="imgs"><img src="img/conceptualmodel.png" alt="conceptual model" width=1000px/></div>
              </div>
              <div class="row">
                  <p></p>
              </div>
            </div>
        </div>
    </section>
