 <!-- About Section -->
    <section class="successwhite" id="develop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Phase 3: Develop</h2>
                </div>
            </div>
            <div class="row">
              <div class="row">
                  <p>Project:</p>
              </div>
              <div class="col-lg-12">
                <div class="imgs"><img src="img/conceptualmodel.png" alt="conceptual model" width=1000px/></div>
              </div>
              <div class="row">
                  <p>How this app brings us back to our three themes (wrap-up):</p>
              </div>
              <div class="row">
                  <p>(1) digital and physical space<br>
In the early stages of this project, we were interested in the link and expansion of the physical structure of the library. How exactly could we use public interest technology to expand the range that libraries have? We discovered a pre-existing solution, book mobiles, that have the capacity to deliver digital library resources to those most out of reach. However, we also realized through our analysis of this solution that the distribution was still inequitable in our case study concerning the Houston Public Library. Thus, this app seeks to use features such as maps and request forms on a technological platform to facilitate connections between librarians and users to better distribute resources provided by the library.</p>
              </div>
              <div class="row">
                  <p></p>
              </div>
            </div>
        </div>
    </section>
