    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <div class="about-us">
                            <h4>This project was developed by:</h4>
                            <ul>
                                <li>Spenser Krut - M.Arch / MS.CCCP candidate at Columbia GSAPP</li>
                                <li>Maggie Fei - Columbia College/ Computer Science</li>
                                <li>Kaira Villanueva - Information Science</li>
                                <li>Daniella Truong - Columbia College/ Sustainable Development</li>
                                <li>Priya Pai - Columbia College Class of 2020 / English Lit and Computer Science</li>
                            </ul>
                        </div>
                      </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; {{ site.footer.copyright }} 20{{ site.time | date: '%y' }}
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
