 <!-- About Section -->
    <section class="successwhite" id="implementation">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Phase 4: Implementation</h2>
                    <br>
                </div>
            </div>            
            <div class="row">
                <div class="col-lg-12">
                    <h3>We envision a few future developments for the app if we had more time:</h3>
                    <ol class="list-styles-master">
                        <li><b>Library Patron Interviews</b> - We would love to talk to patrons who already use the bus service and get their thoughts on an application like this.</li>
                        <li><b>User Testing</b> - Ideally, we would have liked to test this on actual library patrons and understand if the pain points we are trying to ease are actually being addressed within the design of our app.</li>
                        <li><b>Broadening this App to More Services</b> - Unemployment is just one of the services an app like this could serve. Eventually we would like this app to be applicable to more needs - like citizenship applications, GED testing, job applications, etc.</li>
                    </ol>
                    <br>
                    <h3>Links to resources and related articles</h3>
                    <ul class="list-styles-master ">
                        <li>Texas Workforce Commission Website: https://www.twc.texas.gov/</li>
                        <li>Portal to Apply for Unemployment Benefits: https://login.apps.twc.state.tx.us/UBS/security/logon.do</li>
                        <li>Finding work: https://www.workintexas.com/vosnet/Default.aspx</li>
                        <li>Documentation for Finding Work: https://www.twc.texas.gov/files/jobseekers/work-search-log-twc.pdf</li>
                        <li>General Benefits Alert: https://www.yourtexasbenefits.com/Learn/Home</li>
                        <li>Federal Unemployment Info: https://www.usa.gov/jobs-and-unemployment</li>
                        <li>https://libguides.ala.org/numberoflibraries</li>
                        <li>https://www.pewresearch.org/internet/fact-sheet/mobile/</li>
                        <li>https://www.houstonchronicle.com/neighborhood/bellaire/news/article/</li>
                        <li>Houston-Public-Library-s-new-Mobile-Express-to-14900397.php#photo-18742791</li>
                        <li>https://www.pewtrusts.org/en/research-and-analysis/blogs/stateline/2018/03/28/yes-bookmobiles-are-still-a-thing-we-checked</li>
                        <li>https://libguides.ala.org/bookmobiles</li>
                        <li>http://www.ala.org/pla/initiatives/publicwifi/eligible</li>
                        <li>https://libguides.ala.org/libraryfacts</li>
                        <li>http://www.ala.org/pla/initiatives/digitalliteracy</li>
                    </ul>                            
                </div>
            </div>
        </div>
    </section>
