 <!-- About Section -->
    <section class="successwhite" id="intro">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Intro</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-4 col-lg-offset-2"> -->
                <div class="row">
                    <p>As a new topic in the discourses of computer science, architecture, sustainable development, and journalism, Public Interest Technology (PIT) has yet to be (and may never be) concretely defined across fields. In this three week lab, we developed a working definition to characterize and consolidate our impressions of the topic for the purpose of researching and designing a project that fits the bill. Our definition reads as follows: Public Interest Technology is any application of knowledge that belongs to no one, excludes no one directly, and that is created with no objective other than to serve and help the intended population. It is meant to protect and uplift the people it is designed for and its success should be measured in terms of empowerment rather than efficiency.</p>
                </div>
                <div class="row">
                <!-- <div class="col-lg-4"> -->
                    <p>Our interdisciplinary working group and understanding of the human-centered design process inform the structure of the lab and this project. Further, our work is framed by a desire for the research we develop to partner with one of the greatest examples of PIT functioning today: public libraries. Considering PIT in conjunction with public library institutions, the research and design of our project began by exploring three general themes: (1) digital and physical space; (2) community programming; (3) resource distribution (equity and accessibility).</p>
                </div>
            </div>
        </div>
    </section>
