 <!-- About Section -->
    <section class="success" id="research">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Phase 1: Discover</h2>
                </div>
                <div class="row">
                  <div class="row">
                      <p></p>
                  </div>
                  <div class="row">
                      <p><br>After gathering a thorough understanding of how public libraries operate today (and pre-pandemic), our themes combined forming the general problem we seek to address: the effectiveness and equitability of mobile library services (ex. BookMobiles). Primary and secondary research diverging from this idea include interviews with librarians, architects, sociologists, and anthropologists in addition to literature reviews of PIT and urban equity and programming of specific library systems. </p>
                  </div>
                  <div class="row">
                      <p>Some highlights from our research that lead to insights and opportunities for further investigation:</p>
                  </div>
                  <ul>
                    <li>Travelling libraries have been around since the 19th century, when horse-drawn wagons contained boxes of books. They were created to <b>expand the reach of traditional libraries and provide access to books to underserved communities</b>, like remote rural areas and senior homes, as well as to facilitate literacy.</li>
                    <li>Possible institutional partnerships (past, current, or future) to expand the public libraries physical network are public schools, community colleges, public transportation, community centers.</li>
                    <li>Public library systems vary between mobile application offerings: some only offer electronic media through e-readers like SimplyE or Libby, others have phone applications for library patrons to manage their accounts and learn about upcoming programming. </li>
                    <li><b>“There is still a digital divide.”</b> - Mark Sorenson, Omaha Public Library, on programming during COVID-19. We conducted other interviews with librarians from Brooklyn Public Library, Queens Library, Johnson Public Library, Kentucky Public Library, and the Library of Congress.</li>
                    <li>The Johnson Public Library in Hackensack, New Jersey comments that the physical space of the library caters to users who are visiting for social events and the digital space is mainly reserved for users who borrow electronic media.The most popular services offered by public libraries in the 21st century still include physical books, but also internet access, hardware (like computers and printers), digital literacy and other age-appropriate programming, and online collections (and e-books).</li>
                    <li>Librarians in the Johnson Public Library largely saw patrons who needed help with applying for jobs online, and accessing online activities such as social media or email. They are often in the process of finding a new job or pivoting to a new career.
<br><b>“[You] can’t apply for a job at ShopRite unless you do it online.”</b></li>
                  </ul>
                  <div class="row">
                      <p>More highlights from conducted interviews that led to insights and opportunities for further investigation:</p>
                  </div>
                  <div class="row">
                    <h3>“Our goal is to have a library within 8 miles of everyone.”</h3>
                  </div>
                  <div class="row">
                      <p>We conducted an interview with My’Tesha Tates and Rachel Stout, heads of Community Engagement at HPL and the main people organizing Houston Public Library Mobile Services. They kindly explained the structure and logistics of HPL’s mobile express:</p>
                  </div>
                  <ol>
                    <li>The bus service originated 8 years ago from many patrons not living near a bus route that could take them to a library. HPL decided to bring the library to the people. Their goal was to “have a library within 8 miles of everyone.” </li>
                    <li>The bus service is by request - people have to call and ask for the bus to serve them. This often means that schools, rec centers, parking lots, YMCAs, senior centers, etc.</li>
                    <li>The bus is filled with laptops, printers, and other devices that enables patrons to get access to technology that they otherwise wouldn’t. </li>
                    <li>The bus offers a variety of services: citizenship classes, ESL classes, book checkout, digital literacy classes. </li>
                    <li>The bus played an integral role in disaster relief. During Ike and Harvey, the bus went to neighborhoods and helped people fill out FEMA forms. </li>
                    <li>Hotspot service is another major element of the bus - they park in a parking lot and people come and access the bus’s hotspot in their respective cars. </li>
                  </ol>
                  <div class="row">
                    <h3>“Consistency is essential or you’re going to lose trust.”</h3>
                  </div>
                  <div class="row">
                      <p></p>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Phase 2: Define</h2>
                    <!-- <hr class="star-light"> -->
                </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="imgs"><img src="img/doublediamond-01.png" alt="double-diamond" width=1000px/></div>
              </div>
                <div class="row">
                    <p><br>Phase 1 clarifies multiple insights concerning how mobile library services may not be equitably implemented. The history of these services suggest they are not sustainable literally and figuratively-- of the 9,057 public libraries across the United States, only 650 BookMobile programs exist. This number has shrunk in recent decades due to the cost of operation and inability to adapt to the changing needs of library patrons and the public. How and why these services are offered vary greatly between systems too; some are determined by patron requests, others by proximity (or lack thereof) to existing facilities. How might mobile library services be more systematized in order to reach underserved populations and become critical infrastructure of the public library? What are the new or important programs that need to be designed for an adaptive reuse of existing units?</p>
                </div>
                <div class="row">
                    <p>Two needs our project seeks to address stem from these insights as well as selecting the Houston Public Library as our site and the process of filing for unemployment as a use case scenario for our project.</p>
                </div>
                <div class="row">
                    <p><br>Need 1: Houston (and its surroundings, Harris County) has a low ratio of libraries per capita compared to other popular systems.</p>
                </div>
                <div class="col-lg-12">
                  <div class="imgs"><img src="img/librariespercapita-03.png" alt="libraries per capita" width=1000px/></div>
                </div>
                <div class="row">
                    <p>Existing public library facilities also are concentrated about the city center making it difficult for certain peripheral areas of lower income or non-white populations to access its services. </p>
                </div>
                <div class="col-lg-12">
                  <div class="imgs">
                    <span><img src="img/1_city-county-01.jpg" alt="city county" width=500px/></span>
                    <span><img src="img/2_totalpop-01.jpg" alt="total pop" width=500px/></span>
                  </div>
                  <div class="imgs">
                    <span><img src="img/3_non-whitepop-01.jpg" alt="non white pop" width=500px/></span>
                    <span><img src="img/4_medianHHI_houston-01.jpg" alt="median HHI" width=500px/></span>
                  </div>
                  <div class="imgs"><img src="img/5_unemployment_zipcode-01.jpg" alt="unemployment zipcode" width=500px/></div>
                </div>
                <div class="row">
                    <p></p>
                </div>
                <div class="row">
                    <p><br></br>Need 2: Filing for unemployment is a particularly difficult task that public librarians can and do assist their patrons with. With unemployment rates skyrocketing due to the pandemic, there is a current need for an expansion of this aid.</p>
                </div>
                <div class="row">
                    <p>The opportunity presented from our research’s insights appears to be designing a method for the mobile library services to provide assistance with unemployment in Houston and Harris County.</p>
                </div>
                <div class="row">
                    <p>Use case scenario research (steps of unemployment filing)
Unemployment in Texas is run completely by the Texas Workforce Commission and due to COVID- 19, is restricted to application by online portal and phone. This further limits the abilities of those who find themselves unemployed or have been economically affected by COVID-19 and must now apply for unemployment benefits. Many who must now endure the struggle of this bureaucratic process are predisposed to limited digital resource access and time/ financial constraints that further complicate their ability to apply and receive these benefits.</p>
                </div>
                <div class="row">
                    <p>The closure of physical locations of the Texas Workforce Commission leaves many individuals seeking to file for unemployment without human guidance through a complicated process. With their only options left being either an automated phone system or an online portal, their opportunities are greatly diminished. Additionally, the latter, which is a significantly clearer system to deal with, leaves those without access to computers with only one solution.
</p>
                </div>
                <div class="row">
                    <p>Our app seeks to connect those who are experiencing significant difficulty filing for unemployment with the necessary library resources needed to complete the task and librarians to guide them along the way.
</p>
                </div>
                <div class="row">
                    <p>According to the Pew Research Center, nearly 96% of American own a cellphone and 81% have ownership of a smartphone. Taking into consideration what devices users have the most access to, we decided that a smartphone app would allow for most people to access the services we design.
</p>
                </div>
            </div>

            <div class="col-lg-12 text-center">
                <h2>Personas</h2>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="imgs"><img src="img/personas-04.png" alt="user persona" width=1000px/></div>
              </div>
                <div class="row">
                    <p><br>Our project seeks to implement features to serve and inform two different users to better facilitate the distribution of library resources through the Houston Public Library Mobile Services. </p>
                </div>
                <div class="row">
                    <p>Houston Public Library Patron:</p>
                    <p>User A is a Houston Public Library patron named Jane, someone with access to a smartphone to use the app, but with little access to other resources necessary to successfully navigate society. Since she lives in an area in Houston with no access to public transportation, it is difficult for her to get around and find time to go to the library while balancing taking care of her kids and other responsibilities. Additionally, as she is an immigrant and English is her second language, understanding the already difficult unemployment process is hard for her to manage on her own after losing her job at a local restaurant suddenly due to COVID-19.</p>
                </div>
                <div class="row">
                    <p>Houston Public Librarian:</p>
                    <p>Our second user, User B, is a part time public librarian named Doug, who is a native of the area and well- versed in the bureaucratic processes involved in filing for government aid. He is also bilingual and is passionate about those who have difficulty completing these troublesome tasks. However, Doug has limited time to operate the Mobile Service, as he has another job, and has difficulty knowing where exactly library services are most needed.</p>
                </div>
            </div>
        </div>
    </section>
